<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./static/css/bootstrap.min.css">
    <title>Elemental</title>
    <script src="https://kit.fontawesome.com/e4298329f1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/balloon-css/0.5.0/balloon.min.css">
    <link rel="stylesheet" href="./static/css/style2.css
</head>

<body>

    <!-- Content -->
    <div class="container">

        <!-- heading -->
        <div id="head">
            <div id="r1">
            <!-- <i class="fa-solid fa-cloud"></i> -->
                <img src="./static/images/blue-clouds-clouds.gif" alt="cloud" style="height: 40px;">
                <h1>Elemental</h1>
            </div>
            <div id="r2">
                <i class="fa-regular fa-sun iman"></i>
            </div>
        </div>

        <form id="meteo-form">
            <input name="meteo-city" placeholder="City" type="text">
            <i class="fa fa-crosshairs"></i>
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
  
        <!-- ask AI -->
        <div id="askai">
          <div id="val">
            <input id="AIAskValue" type="text" placeholder="Ask the AI...">
            <button id="askaiButton"><i class="fa-regular fa-circle-up"></i></button>  
          </div>
          <p id="response"></p>
        </div>

        <h2 id="meteo-title">
            <span> <!-- city name display (operated from JS) --> </span>
        </h2>
        <section class="section-meteo row">
            <div id="meteo-day-1" class="meteo-day col-sm">
                <h3><span class="name">Day 1</span> <span class="text-muted date">--/--</span></h3>
                <div class="meteo-block row meteo-temperature-container">
                    <div class="meteo-temperature">
                        <i class="wi wi-night-sleet"></i>
                        <span class="data">--°C</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col meteo-block meteo-humidity">
                        <div class="meteo-block-title">
                            <i class="fa fa-tint" aria-hidden="true"></i>
                             Humidity
                        </div>
                        <div class="meteo-block-data">--%</div>
                    </div>
                    <div class="col meteo-block meteo-wind">
                        <div class="meteo-block-title">
                            <i class="fa fa-flag" aria-hidden="true"></i>
                            Wind
                        </div>
                        <div class="meteo-block-data">-- km/h</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col meteo-block meteo-sunrise">
                        <div class="meteo-block-title">
                            <i class="fa fa-sun-o" aria-hidden="true"></i>
                            Sunrise
                        </div>
                        <div class="meteo-block-data">--:--</div>
                    </div>
                    <div class="col meteo-block meteo-sunset">
                        <div class="meteo-block-title">                      
                            <i class="fa fa-sun-o" aria-hidden="true"></i>
                            Sunset
                        </div>
                        <div class="meteo-block-data">--:--</div>
                    </div>
                </div>
            </div>
            <div id="meteo-day-2" class="meteo-day col-sm">
                <h3><span class="name">Day 2</span> <span class="text-muted date">--/--</span></h3>
                <div class="meteo-block row meteo-temperature-container">
                    <div class="meteo-temperature">
                        <i class="wi wi-night-sleet"></i>
                        <span class="data">--°C</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col meteo-block meteo-humidity">
                        <div class="meteo-block-title">
                            <i class="fa fa-tint" aria-hidden="true"></i>
                             Humidity
                        </div>
                        <div class="meteo-block-data">--%</div>
                    </div>
                    <div class="col meteo-block meteo-wind">
                        <div class="meteo-block-title">
                            <i class="fa fa-flag" aria-hidden="true"></i>
                            Wind
                        </div>
                        <div class="meteo-block-data">-- km/h</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col meteo-block meteo-sunrise">
                        <div class="meteo-block-title">
                            <i class="fa fa-sun-o" aria-hidden="true"></i>
                            Sunrise
                        </div>
                        <div class="meteo-block-data">--:--</div>
                    </div>
                    <div class="col meteo-block meteo-sunset">
                        <div class="meteo-block-title">                      
                            <i class="fa fa-sun-o" aria-hidden="true"></i>
                            Sunset
                        </div>
                        <div class="meteo-block-data">--:--</div>
                    </div>
                </div>
            </div>
            <div id="meteo-day-3" class="meteo-day col-sm">
                <h3><span class="name">Day 3</span> <span class="text-muted date">--/--</span></h3>
                <div class="meteo-block row meteo-temperature-container">
                    <div class="meteo-temperature">
                        <i class="wi wi-night-sleet"></i>
                        <span class="data">--°C</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col meteo-block meteo-humidity">
                        <div class="meteo-block-title">
                            <i class="fa fa-tint" aria-hidden="true"></i>
                             Humidity
                        </div>
                        <div class="meteo-block-data">--%</div>
                    </div>
                    <div class="col meteo-block meteo-wind">
                        <div class="meteo-block-title">
                            <i class="fa fa-flag" aria-hidden="true"></i>
                            Wind
                        </div>
                        <div class="meteo-block-data">-- km/h</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col meteo-block meteo-sunrise">
                        <div class="meteo-block-title">
                            <i class="fa fa-sun-o" aria-hidden="true"></i>
                            Sunrise
                        </div>
                        <div class="meteo-block-data">--:--</div>
                    </div>
                    <div class="col meteo-block meteo-sunset">
                        <div class="meteo-block-title">                      
                            <i class="fa fa-sun-o" aria-hidden="true"></i>
                            Sunset
                        </div>
                        <div class="meteo-block-data">--:--</div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Footer -->
    <footer>
        
    </footer>
    <script src="./static/js/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/suncalc/1.8.0/suncalc.min.js"></script>
    <script src="./static/js/utility.js"></script>
    <script src="./static/js/app.js"></script>
</body>

</html>